.button-custom-color{
    color: white;
    background-color: orange;
}

.header-bg-color{
    background: #264653;
}

.header-padding{
    padding-top: 7  rem;
}

.hr-width{
    width: 10%;
}
.hr-width-star{
    width: 5%;
}

